qiskit==1.0.0
qiskit-aer==0.13.3
qiskit-ibm-runtime==0.19.1
qiskit-experiments==0.6.0
qiskit-machine-learning==0.7.1
qiskit-nature==0.7.1
qiskit-optimization==0.6.0
matplotlib
pylatexenc
plotly
pandas
tabulate
dwave-qbsolv
