qiskit==0.42.1
qiskit-ibm-runtime==0.9.1
qiskit-ibm-provider==0.4.0
qiskit-optimization==0.5.0
qiskit-machine-learning==0.6.0
qiskit-experiments==0.5.0
qiskit-nature==0.5.2
matplotlib
pylatexenc
plotly
pandas
scikit-learn
tabulate
