qiskit==1.0.2
qiskit-aer==0.14.1
qiskit-ibm-runtime==0.23.0
qiskit-experiments==0.6.1
qiskit-machine-learning==0.7.2
qiskit-nature==0.7.2
qiskit-optimization==0.6.1
matplotlib
pylatexenc
plotly
pandas
tabulate
dwave-qbsolv
